*{
    padding: 0;
    margin: 0;
}

#header{
    width: 1200px;
    height: 100px;
    margin: 0px auto;
}

#header img{
    width: 200px;
    height: 80px;
    padding: 10px;
    float: left;
}

.search input{
   width: 400px; 
   border-radius: 20px;
   padding: 10px;
   border: solid 2px #61C73C;
}

.search{
    position: relative;
    float: left;
    margin: 25px 30px 0px 55px;;
}

.headphone{
    float: left;
}

.search i{
    position: absolute;
    left: 370px;
    top: 10px;
    font-size: 20px;
    color: #61C73C;
}

.headphone i{
    font-size: 25px;
    color: #61C73C;
    padding: 7px;
    border: solid 2px #61C73C;
    border-radius: 50%;
    margin-top: 25px;
}

.headphone{
    text-decoration: none;
    margin: 0px 35px;
}

a{
    text-decoration: none;
}

.info{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}
.info i{
    color: #61C73C;
    padding: 5px;
    font-size: 20px;
}

/* Menu */
#nav{
    width: 100%;
    height: 55px;
    background-color: #00943E;
}
.menu{
    width: 930px;
    height: 55px;
    margin: 0px auto;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
}
.menu > li {
    float: left;
    width: 150px;
    text-align: center;
    background-color:#00943E;
    padding: 15px 5px;
    position: relative;
}
.menu > li:hover {
    background-color: #61C73C;
    /* Để chuột đổi thành hình bàn tay */
    cursor: pointer;
}

.menu>li:hover .submenu{
    display: block;
}

li.icon{
    width: 90px;
}

/* submenu */
.submenu{
    width: 100%;
    z-index: 2;
    background-color: #00943E;
}
ul li ul{
    position: absolute;
    top:55px;
    left: 0px;
}

.submenu li{
    padding: 15px 5px;
}

.submenu li:hover{
    background-color: #61C73C;
}

ul.submenu{
    display: none;
}

/* Hết menu */

/* Container */
.container{
    height: 730px;
}

.bangSP table{
    margin-top: 30px;
}

table img{
    width: 120px;
    height: 130px;
    float: left;
}

.SP{
    width: 400px;
}

.SP p{
    padding: 40px 0px;
}

table a svg{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 50px;
}

th{
    font-size: 17px;
    text-align: center;
    border-bottom: solid 2px #ECECE9;
}

button.muatiep{
    padding: 5px 15px;
    background-color: white;
    border: solid 3px #74942B;
}

button.muatiep a{
    color: #74942B;
}

button.capnhatgio{
    padding: 5px 15px;
    margin-left: 10px;
    background-color: #5BBF8A;
    border: solid 3px #5BBF8A;
    color: white;
}

.tinhtong{
    height: 700px;
    margin-top: 30px;
    border-left: solid 1px #ECECE9;
}

.tinhtong table{
    width: 100%;
}

tr td, tr th{
    padding: 10px;
}

.tinhtong button{
    width: 100%;
    padding: 10px 10px;
}

.tinhtong input{
    width: 100%;
    padding: 10px 5px;
}

button.uudai{
    border: solid 1px #767675;
}

button.thanhtoan{
    background-color: #5BC353;
    border: solid 1px #5BC353;
    color: white;
    font-size: 17px;
}

/* Số lượng */

.themSP{
    margin-top: 35px;
    margin-left: 5px;
}

.soluong{
    /* để  dấu +,- và input nằm trên cùng 1 hàng */
    display: flex; 
    float: left;
}

.soluong button{
    width: 40px;
    height: 40px;
    border: solid 1px #ececec;
    cursor: pointer;
}
.soluong input{
    width: 45px;
    text-align: center;
    border: solid 1px #ececec;
}

.soluong svg{
    padding: 10px;
}
.soluong button:hover{
    background-color: white;
}
/* Footer */

#footer{
    width: 100%;
}

.mainFooter{
    height: 210px;
}
.borderFooter{
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #EAEBE5;
}

ul.mainFooter li{
    float: left;
    padding:  40px 65px;
    font-size: 17px;
}

.boxFooter {
    clear: both;
    width: 100%;
    height: 40px;
    background-color: #3F3F3E;
    color: #A09B97;
    text-align: center;
    line-height: 40px;
}

p.infologo{
    padding-top: 10px;
    font-size: 14px;
}

li.infologo{
    padding: 20px 65px !important;
}