*{
    padding: 0;
    margin: 0;
}


.container{
    height: 2600px;
}

.noidungTin{
    font-size: 16px;
    text-align: justify;
}

.noidungTin img{
    margin: 15px auto;
}


p.tieude{
    font-size: 25px;
    color: #61C73C;
    padding: 30px 0px 10px 10px;
}

.borderSp{
    border: solid 1px #EBEBE8;
    width: 100%;
    margin: auto;
    margin: 50px 0px 15px 0px;
}

.sp{
    width: 32%;
    height: 380px;
    margin-left: 1%;
    background-color: #F6F6F3;
    border-radius: 10px;
    float: left;
}

.Tinkhac>p{
    font-size: 17px;
    color: #61C73C;
}

.sp img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
.sp > p{
    text-align: center;
}
.gia{
    color: red;
    font-size: 18px;
}

img.imgTT{
    height: 180px;
}

.vbTT{
    justify-content: center;
    padding: 5px 15px;
}

.Tinmoi>p{
    color: #61C73C;
    margin-top: 130px;
    font-size: 18px;
}

.sidebar img{
    width: 100%;
    height: 120px;
}


.sidebar p{
    padding: 10px 10px 10px 15px;
    justify-content: center;
}

.border1{
    border-bottom: solid 2px #ececec;
    margin-bottom: 30px;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em){
    
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    
}