*{
    padding: 0;
    margin: 0;
}

#wrapper{
    height: 830px;
    background-image: url(https://artia.vn/wp-content/uploads/2020/11/my-pham-Skincare-1200x800.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    width: 600px;
    height: 800px;
    margin: 0 auto;
    background-color: #FFFFFC;
}

h2{
    text-align: center;
    padding-top: 30px;
}

.form input{
    width: 540px;
    margin: 10px 30px;
    padding: 15px 10px;
    border:none;
    border-bottom: solid 1px black;
    font-size: 17px;
}

.dangky{
    width: 100%;
    height: 80px;
    position: relative;
    float: left;
}

.dangky button{
    width: 140px;
    height: 45px;
    border-radius: 5px;
    background-color: #61C73C;
    border: solid 1px #61C73C;
    color:aliceblue;
    margin: 10px auto;
    position: absolute;
    top: 10px;
    left: 240px;
}

.taikhoan{
    width: 100%;
    float: left;
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 46.1875em){
    .form{
        width: 100%;
    }
    .form input{
        width: 360px;
    }
    .dangky button{
        left: 150px;
    }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
   
}







