*{
    padding: 0;
    margin: 0;
}

#header{
    width: 1200px;
    height: 100px;
    margin: 0px auto;
}

#header img{
    width: 200px;
    height: 80px;
    padding: 10px;
    float: left;
}

.search input{
   width: 400px; 
   border-radius: 20px;
   padding: 10px;
   border: solid 2px #61C73C;
}

.search{
    position: relative;
    float: left;
    margin: 25px 30px 0px 55px;;
}

.headphone{
    float: left;
}

.search i{
    position: absolute;
    left: 370px;
    top: 10px;
    font-size: 20px;
    color: #61C73C;
}

.headphone i{
    font-size: 25px;
    color: #61C73C;
    padding: 7px;
    border: solid 2px #61C73C;
    border-radius: 50%;
    margin-top: 25px;
}

.headphone{
    text-decoration: none;
    margin: 0px 35px;
}

a{
    text-decoration: none;
}

.info{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}
.info i{
    color: #61C73C;
    padding: 5px;
    font-size: 20px;
}

/* Menu */
#nav{
    width: 100%;
    height: 55px;
    background-color: #00943E;
}
.menu{
    width: 930px;
    height: 55px;
    margin: 0px auto;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
}
.menu > li {
    float: left;
    width: 150px;
    text-align: center;
    background-color:#00943E;
    padding: 15px 5px;
    position: relative;
}
.menu > li:hover {
    background-color: #61C73C;
    /* Để chuột đổi thành hình bàn tay */
    cursor: pointer;
    transition: all 0.5s;
}

.menu>li:hover .submenu{
    display: block;
    transition: all 0.5s;
}

li.icon{
    width: 90px;
}

/* submenu */
.submenu{
    width: 100%;
    z-index: 2;
    background-color: #00943E;
}
ul li ul{
    position: absolute;
    top:55px;
    left: 0px;
}

.submenu li{
    padding: 15px 5px;
}

.submenu li:hover{
    background-color: #61C73C;
    transition: all 0.5s;
}

ul.submenu{
    display: none;
}

/* Hết menu */

/* Slider */

.container-fluid{
    clear:both;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid img{
    padding: 0px;
}

/* Content */
#content{
    width: 1500px;
    margin: 50px auto;
}

.spBanchay, .spLamdep, .spToc, .Tintuc{
    width: 100%;
    height: 500px;
}

.Thuonghieu{
    width: 100%;
    height: 400px;
}

.Thuonghieu img{
    width: 210px;
}

.spBanchay>p , .spLamdep>p, .spToc>p, .Tintuc >p, .Thuonghieu > p{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    color: #00943E;
    text-align: center;
    margin-top: 30px;
}


.borderSp{
    border: solid 1px #EBEBE8;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
}

.sp, .tin{
    width: 95% !important;
    height: 370px;
    border-radius: 20px;
    float: left;
    background-color: #EBEBE8;
    margin-left: 2%;
}

.tin{
    width: 24% !important;
    margin-left: 1% !important;
}

.sp img, .tin img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
p.tensp{
    text-align: center;
    padding-top: 10px;
}
p.gia{
    color: red;
    font-size: 18px;
    text-align: center;
}

img.imgTT{
    height: 180px;
}

.vbTT{
    justify-content: center;
    padding: 5px 15px;
}

.xemthemSP{
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.xemthemSP a{
    color: #61C73C;
}

.xemthemSP a i{
    padding: 5px;
}

.slick-prev:before, .slick-next:before{
    color: #cccc !important;
}


/* Footer */

#footer{
    width: 100%;
}

.mainFooter{
    height: 210px;
}
.borderFooter{
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #EAEBE5;
}

ul.mainFooter li{
    float: left;
    padding:  40px 30px;
    font-size: 17px;
}

.boxFooter {
    clear: both;
    width: 100%;
    height: 40px;
    background-color: #3F3F3E;
    color: #A09B97;
    text-align: center;
    line-height: 40px;
}

p.infologo{
    padding-top: 10px;
    font-size: 14px;
}

li.infologo{
    padding: 0px 65px !important;
}

#res-menu{
    display: none;
}

.menu{
    display: flex !important;
}

#nav-mobile{
    display: none;
}

input.nav-input{
    display: none;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em){
    #header{
        width: 100%;
        height: 60px;
    }
    #header img{
        width: 50%;
        height: 100%;
    }
    .search,.headphone,.info,.menu,.Thuonghieu{
        display: none;
    }
    #nav{
        height: 30px;
    }

    #content{
        width: 100%;
        height:1350px ;
    }

    .spBanchay, .spLamdep, .spToc, .Tintuc{
        height: 250px;
    }
    
    .infologo img{
        width: 170px;
        height: 70px;
    }

    .container-fluid img {
        height: 120px !important;
    }

    .sanpham {
        width: 80%;
        margin: 0px auto;
    }

    .sp img, .tin img{
        height: 100px;
    }

    .sp, .tin{
        height: 185px;
    }

    p.tensp{
        font-size: 10px;
    }

    p.gia{
        font-size: 11px;
    }

    .spBanchay>p, .spLamdep>p, .spToc>p, .Tintuc >p, .Thuonghieu > p {
        font-size: 17px;
    }

    .vbTT p{
        font-size: 6px !important;
    }

    .tin{
        width: 45% !important;
        height: 200px;
        margin: 2% 0;
        margin-left: 3% !important;
    }

    li.infologo{
        padding: 0px 28px !important;
    }

    ul.mainFooter li {
        padding: 15px 30px;
    }

    /* Responsive menu */
    .menu{
        width: 100%;
        flex-direction: column;
    }
    .menu > li{
        width: 100%;
    }
    li.icon {
        width: 100%;
    }
    #res-menu{
        display: block;
        background-color: #353b48;
        color: aliceblue;
        text-align: right;
        padding: 10px;
        font-size: 20px;
    }

    #nav-mobile{
        display: block;
    }
    
    #nav{
        display: none;
    }

    .overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    #nav-mobile{
        position: fixed;
        top: 60px;
        right: 0;
        bottom: 0;
        width: 60%;
        background-color: #00943E;
        z-index: 2;
    }

    .carousel-indicators{
        z-index: 1;
    }

    .menu-mobile > li{
        padding: 15px 15px;
        
    }

    .menu-mobile > li{
        padding: 15px 15px;
    }

    .menu-mobile>li>a{
        color: #fff;
        font-size: 18px;
    } 

    .close{
        width: 100%;
        height: 40px;
    }

    .close > a{
        font-size: 30px;
        margin-left: 85%;
        margin-top: 20px;
    }

    .close a i {
        color: #fff;
        padding: 10px 0px;
    }

    #nav-mobile{
        transform: translateX(100%);
        transition: transform linear 0.2s, opacity linear 0.2s;
        opacity: 0;
    }

    .overlay{
        display: none;
        z-index: 2;
    }    
    
    .nav-input:checked ~ .overlay{
        display: block;
    }

    input{
        display: none;
    }
    
    label{
        margin-bottom: 0px;
    }

    .nav-input:checked ~ #nav-mobile{
        transform: translateX(0);
        opacity: 1;
    }

    .menu-mobile li{
        position: relative;
    }

    ul li:hover .submenu{
        display: block;
    }

}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    
}