*{
    padding: 0;
    margin: 0;
}



/* Container */
.container{
    height: 900px;
}
.map{
    margin: 40px 0px;
}

.ThongtinLH{
    height: 300px;
    padding: 0px 30px 0px 15px;
}

.ThongtinLH p, .formLH p{
    font-size: 18px;
    text-align: justify;
}

/* Mobile */
@media only screen and (max-width: 46.1875em){
    .container{
        width: 300px;
        height: 1500px;
    }
    .ThongtinLH{
        height: 550px;
    }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    
}