*{
    padding: 0;
    margin: 0;
}

#header{
    width: 1200px;
    height: 100px;
    margin: 0px auto;
}

#header img{
    width: 200px;
    height: 80px;
    padding: 10px;
    float: left;
}

.search input{
   width: 400px; 
   border-radius: 20px;
   padding: 10px;
   border: solid 2px #61C73C;
}

.search{
    position: relative;
    float: left;
    margin: 25px 30px 0px 55px;;
}

.headphone{
    float: left;
}

.search i{
    position: absolute;
    left: 370px;
    top: 10px;
    font-size: 20px;
    color: #61C73C;
}

.headphone i{
    font-size: 25px;
    color: #61C73C;
    padding: 7px;
    border: solid 2px #61C73C;
    border-radius: 50%;
    margin-top: 25px;
}

.headphone{
    text-decoration: none;
    margin: 0px 35px;
}

a{
    text-decoration: none;
}

.info{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}
.info i{
    color: #61C73C;
    padding: 5px;
    font-size: 20px;
}

/* Menu */
#nav{
    width: 100%;
    height: 55px;
    background-color: #00943E;
}
.menu{
    width: 930px;
    height: 55px;
    margin: 0px auto;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
}
.menu > li {
    float: left;
    width: 150px;
    text-align: center;
    background-color:#00943E;
    padding: 15px 5px;
    position: relative;
}
.menu > li:hover {
    background-color: #61C73C;
    /* Để chuột đổi thành hình bàn tay */
    cursor: pointer;
}

.menu>li:hover .submenu{
    display: block;
}

li.icon{
    width: 90px;
}

/* submenu */
.submenu{
    width: 100%;
    z-index: 2;
    background-color: #00943E;
}
ul li ul{
    position: absolute;
    top:55px;
    left: 0px;
}

.submenu li{
    padding: 15px 5px;
}

.submenu li:hover{
    background-color: #61C73C;
}

ul.submenu{
    display: none;
}

/* Hết menu */

/* Container */
.container{
    height: 900px;
}
.map{
    margin: 40px 0px;
}

.ThongtinLH{
    height: 300px;
    padding: 0px 30px 0px 15px;
}

.ThongtinLH p, .formLH p{
    font-size: 18px;
    text-align: justify;
}


/* Footer */

#footer{
    width: 100%;
}

.mainFooter{
    height: 210px;
}
.borderFooter{
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #EAEBE5;
}

ul.mainFooter li{
    float: left;
    padding:  40px 65px;
    font-size: 17px;
}

.boxFooter {
    clear: both;
    width: 100%;
    height: 40px;
    background-color: #3F3F3E;
    color: #A09B97;
    text-align: center;
    line-height: 40px;
}

p.infologo{
    padding-top: 10px;
    font-size: 14px;
}

li.infologo{
    padding: 20px 65px !important;
}

/* Mobile */
@media only screen and (max-width: 46.1875em){
    #content{
        width: 500px;
    }
    ul.mainFooter li{
        margin-left: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container{
        height: 1300px;
    }
    .sidebar img {
        width: 100%;
        height: 180px;
    }
    .formLH{
        margin-top: 75px;
    }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    #content{
        width: 800px;
    }
    .container{
        height: 1200px;
    }
    .formLH{
        margin-top: 30px;
    }
}